body{
    margin-top: 0px;
    margin-bottom: 0px;
    /*background-color: #e0e5df;*/
    background-color: #EEEEEE;
}
.container{
    color: rgb(101, 101,101);
    border: white;
    margin-top: 0px;
    margin-bottom: 15px;
    /*background-color: #f1f1f1;*/
    background-color: #EEEEEE;
    margin-left: 170px;
    margin-right: 170px;
    min-width: 50%;
    min-height: 80%;
    padding-bottom: 2px;
}
.container img{
    margin-top: -4px;
    margin-bottom: 5px;
    padding: 0px;
}
.navigation{
    width: 98%;
    margin-top: -3px;
    margin-bottom: 10px;
    padding: 5px;
    border: 0px;
    text-align: center;
    /*background-color: #8696a7;*/
    background-color: #256B55;
    
}
.ele{
    padding: 2px;
    text-decoration: none;
    margin-right: 10px;
    background-color: #8696a7;
    /*color: rgb(248, 248, 255);*/
    color: rgb(238, 238, 238);
    font-family: Georgia, serif;
    font-size:16px;}
a:hover{
    background-color: #6b7f94;
}
.container table{
    width: 99%;
    background-color: #e0e5df;
    margin-top: 0px;
    margin-bottom: 0px;
}
.basic-info{
    margin-top: 5px;
    margin-bottom: 10px;
}
.basic-info img{
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    height: 260px;
}
.basic-info p{
    color: rgb(101, 101,101);
    line-height: 8mm;
    margin-top: 9px;
    text-align: left;
    margin-left: 30px;
    font-family: Georgia, serif;
    font-size:16px;
}
.basic-info h4{
    color: rgb(150, 84, 84);
    margin-left: 30px;
    margin-top: 20px;

    text-align: left;    font-family: Georgia, serif;
    font-size:14px;    line-height:140%}
#aboutme{
    margin-top: 10px;
    padding-top: 5px;
}
.hands h4{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 2px;    font-family: Georgia, serif;
    font-size:16px;
    line-height:140%

}
.hands p{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 22px;
    font-family: Georgia, serif;
    font-size:16px;
    line-height:140%;

}
#lasthand{
    margin-bottom: 4px;
}
#lasthand h4{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: Georgia, serif;
    font-size:16px;
    line-height:140%
}
#lasthand p{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;    font-family: Georgia, serif;
    font-size:16px;
    line-height:140%
}
#lasthand a{
    color: blue;
    text-decoration: none;
}
